*

img {
  float: right;
  margin-top: 150px;
  margin-right: 240px;
}

body {
  background-color: black;
  font-family: Helvetica;
  margin-top: 120px;
}

.tab {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 50px;
  list-style: none;
  text-decoration: none
}

.tab-style {
  color: white;
}

a{
  color: white;
  text-decoration: none;
}