*

img {
  float: right;
  margin-top: 150px;
  margin-right: 240px;
}

body {
  background-color: black;
  font-family: Helvetica;
  margin-top: 120px;
}

.tab {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 50px;
  list-style: none;
  text-decoration: none
}

.tab-style {
  color: white;
  text-decoration: none;
}

.my-custom-carousel .carousel-caption > h5 {
  color: white;
  font-family: Helvetica;
  font-size: 18px;
}

.my-custom-carousel .carousel-caption > p {
  color: white;
}
.my-custom-carousel .carousel-indicators > li {
  width: 30px;
  height: 5px;
  border-radius: 0;
  margin: 15px;
  background-color: gray;
  opacity: 0.6;
}

.my-custom-carousel .carousel-indicators > li.active {
  background-color: black;
  opacity: 1;
}

.my-custom-carousel .carousel-control-prev, 
.my-custom-carousel .carousel-control-next {
  opacity: 1;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 375px) {
  .my-custom-carousel .carousel-inner img {
      height: 250px;
  }
}

@media only screen and (min-width: 768px) {
  .my-custom-carousel .carousel-inner img {
      height: 500px;
  }
}
}

