*

body {
  background-color: black;
  color:white;
  margin-top: 100px;
  }

  .tab {
    font-size: 18px;
    font-family: Helvetica;
    margin-top: 20px;
    margin-left: 10px;
    list-style: none;
    text-decoration: none;
  }
  

  .tab-style {
    color: white;
    text-decoration: none;
  }


h5 {
  float: top;
  color: white;
  font-family: Helvetica;
  font-size: 18px;
}
.first {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.second {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.third {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.my-custom-carousel .carousel-caption > p {
  color: white;
}
.my-custom-carousel .carousel-indicators > li {
  width: 30px;
  height: 3px;
  border-radius: 0;
  margin: 15px;
  background-color: lightgray;
  opacity: 0.6;
}

.my-custom-carousel .carousel-indicators > li.active {
  background-color: black;
  opacity: 1;
}

.my-custom-carousel .carousel-control-prev, 
.my-custom-carousel .carousel-control-next {
  opacity: 1;
  
}

.icon {
  width: 30px;
  margin-left: 60px;
  margin-top: 200px;
}
