*

body {
  background-color: black;
  color:white;
  margin-top: 100px;
  }

  .tab {
    font-size: 18px;
    font-family: Helvetica;
    margin-top: 20px;
    margin-left: 10px;
    list-style: none;
    text-decoration: none;
  }
  

  .tab-style {
    color: white;
    text-decoration: none;
  }
h1 {
  color: white;
  font-family: Helvetica;
  text-transform: lowercase;
  float:right;
  text-align: center;
}

.icon {
  width: 30px;
  margin-left: 60px;
  margin-top: 200px;
}


a{
  color: lightgray;
  text-decoration: none;
}


@media only screen and (min-width: 414px) {
  h1 {
    font-size: 120px;
    margin-right: 30px;
    margin-top: 0px;
  }

  .icon {
      width: 30px;
      margin-left: 60px;
      margin-top: 80px;
    
  }

  @media only screen and (min-width: 768px) {
  h1 {
    font-size: 150px;
    margin-right: 100px;
    margin-top: 130px;
  }

  @media only screen and (min-width: 1024px) { 
    h1 {
    font-size: 200px;
    margin-right: 200px;
    margin-top: 200px;
  }