*

body {
  background-color: black;
  color:white;
  margin-top: 100px;
  }

.tab {
  font-size: 18px;
  font-family: Helvetica;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
  }

h1 {
  color: white;
  font-size: 200px;
  font-family: Helvetica;
  margin-right: 100px;
}

.logo {
  float:right;
  text-align: center;
}


.tab-style {
  color: white;
}

.row {
  display: inline-block;
}

a{
  color: lightgray;
  text-decoration: none;
}


