*
  
body {
  background-color: black;
  color:white;
  margin-top: 100px;
  }
  
  .tab {
    font-size: 18px;
    font-family: Helvetica;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 50px;
    list-style: none;
    text-decoration: none;
  }
  
  .tab-style {
    color: white;
    text-decoration: none;
  }

  .row {
    display: inline-block;
  }

  img {
    width: 575px; 
    height:383px;
    float:right;
  }

  section {
    margin-top: 20px;
    font-family: Helvetica;
  }
  
  .container {
    margin: 30px auto 15px auto;
    padding: 15px;
    width: 1050px;
    height:800px;
  }
  
  
  h1 {
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 50px;
  }

  h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  
  
  .contact {
    list-style: none;
    padding: 0;
    margin-bottom: 8px;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    color: #aaa;
    text-decoration: underline;
  }
  
  p {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    margin-bottom: 10px;
  }

  .text{
      margin-bottom: 35px;
  }
  

 
  